<div fxLayout="column" fxLayoutAlign="center center" class="form1" flex="noshrink">
  

<div  class="mat-elevation-z8 pad" fxLayout.lg="row" fxLayoutAlign.lg="space-around center" fxLayoutGap="25px" fxLayout.md="row" fxLayoutAlign.md="space-around center" fxLayout.sm="column" fxLayoutAlign.sm="center center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
  <img src="./assets/loginpic.png" alt="login photo" width="50%" height="50%"> 
<form [formGroup]="form">
   <div>
      <mat-form-field>
  
        <input matInput placeholder="Email Address" formControlName="email" required>
        
      </mat-form-field>
      <mat-error *ngIf="form.get('email').invalid && (form.get('email').touched || form.get('email').dirty)">
        <mat-error *ngIf="form.get('email').hasError('email')">
          Please enter a valid email
        </mat-error>
      </mat-error>
    </div>
  
    <div>
      <mat-form-field>
  
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <span mat-icon-button matSuffix (click)="hide = !hide" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </span>
      </mat-form-field>
      <mat-error *ngIf="form.get('password').invalid && (form.get('password').dirty)">
        <mat-error *ngIf="form.get('password').errors.minlength">
         1. Password must be at least 8 characters.
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('pattern')">
         2. Password must contain UPPERCASE, LOWERCASE and Special Characters.
        </mat-error>
      </mat-error>
    </div>
  <br>

    <button mat-raised-button color="primary" (click)=onSubmit(form.value) [disabled]="!form.valid"> Submit</button>
  </form>
  </div>
  </div>

 