
$shrink : 0;
$grow: 0;

mat-toolbar{
    flex-shrink: $shrink;
  flex-grow: $grow;
  font-size: xx-large;
  font-family: "Copperplate";
}

.content{
    flex-shrink: $shrink + 1;
    flex-grow: $grow + 1;
    position: relative;
    overflow-y: auto;
    
  }

  .footer{
    flex-shrink: $shrink;
    flex-grow: $grow;
    background-color: rgb(219, 219, 214);
  }

  .container-flu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  