<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="tab">
  <span class="ml-4">
    <mat-form-field>
    
  <input matInput class="searchbar" type="text"  placeholder="Search" [(ngModel)]="searchText" #searchbar>
  <button mat-icon-button matPrefix >
    <mat-icon>search</mat-icon>
  </button>
  </mat-form-field>
  <button mat-raised-button class="emp ml-1" (click)=addEmp()>Employe(+)</button>
  </span>
  
  <span class="m-4">
  <mat-form-field class="select rounded" appearance="fill">
  <mat-label>Experience :</mat-label>
  <mat-select [(ngModel)]="selected">
    <mat-option *ngFor="let ex of exp" [value]="ex.value">
      {{ex.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<span *ngIf="selected==='4'" class="ml-4">
  <input matInput type="number" [(ngModel)]="min" class="num rounded mr-2">
  <input matInput type="number" [(ngModel)]="max" class="num rounded">
</span>

</span>


</div>
    
    

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <ng-container *ngFor="let employe of employes| filter: searchText">
      <mat-card class="mat-elevation-z8" *ngIf="(selected=='4')? (employe.experience>=min && employe.experience<=max) : (employe.experience <= selected)" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="size" (click)=onDetails(employe)>
      
          
        <mat-card-header>
          <div mat-card-avatar ><img mat-card-image [src]="employe.url" alt="Photo of {{employe.title}}"></div>
          <mat-card-title><small>Name:</small> {{employe.Name}}</mat-card-title>
          <mat-card-subtitle >ID: {{employe.empid}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Experience: {{employe.experience}} Years
          </p>
          <p>
            <b>{{employe.content}}</b>
          </p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    </div>
