.form1{
    margin: 4%;
    
}
.pad{
    padding: 4%;
    background-color: rgb(225, 244, 245);
}
mat-error {
    font-size: x-small;
}
mat-form-field{
    width: 400px;
   
}


button{
    width: 75%;
    margin-top: 20px;
}