/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  overflow-x: hidden;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo80gWv-JmvV4MD-1DMuRA6ObgD04iinS_Jg&usqp=CAU");
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
