<div fxLayout="column" fxLayoutAlign="center center" class="form1">
          <span mat-icon-button (click)="onCancel()" >
            <mat-icon>cancel</mat-icon>
          </span>
    <div class="mat-elevation-z8 pad" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" >
        
        <img src="./assets/detailspic.png" alt="details pic" width="25%" height="15%">
        
        
        
        <form [formGroup]="form">
            <div >
            <mat-form-field>
                
            
                <input matInput placeholder="Name" formControlName="Name" required >
                

            </mat-form-field>
            
        </div>
        <div>
            <mat-form-field>
            
                <input matInput placeholder="Experience" formControlName="experience" required>
                

            </mat-form-field>
           
        </div>
        <div>
            <mat-form-field>
            
                <input matInput placeholder="ID" formControlName="empid" required >
                

            </mat-form-field>
            
        </div>
        <div>
            <mat-form-field>
            
                <input matInput placeholder="Company Name" formControlName="content" required >
                

            </mat-form-field>
           
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="address" required >
                
              </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Image Url" formControlName="url" required >
                
              </mat-form-field>
        </div>
        <br>
        <button mat-raised-button color="primary" (click)="onUpdate(form.value)" [disabled]="form.invalid">{{text}}</button>
        
          
        </form>
    </div>
</div>