<div fxLayout="column" fxLayoutAlign="center center" class="form1">
    
    <div class="mat-elevation-z8 pad" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" >
        <img src="./assets/detailspic.png" alt="details pic" width="25%" height="15%">
        
        <form>
            <div>
            <mat-form-field>
                
            
                <input matInput placeholder="First Name" value='Praveen' required [disabled]='one'>
                <button mat-icon-button matSuffix (click)='one=!one'>
                    <mat-icon>edit</mat-icon>
                    </button>

            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
            
                <input matInput placeholder="Second Name" value="Kumar" [disabled]='two'>
                <button mat-icon-button matSuffix (click)='two=!two'>
                    <mat-icon>edit</mat-icon>
                    </button>

            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
            
                <input matInput placeholder="ID" value="1599447" [disabled]='three' required>
                <button mat-icon-button matSuffix (click)='three=!three'>
                    <mat-icon>edit</mat-icon>
                    </button>

            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
            
                <input matInput placeholder="Company Name" value="TATA Consultancy Services" [disabled]='four' required>
                <button mat-icon-button matSuffix (click)='four=!four'>
                    <mat-icon>edit</mat-icon>
                    </button>

            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <textarea matInput placeholder="Address" value="3-130/1, Challapalli, Amalapuram, East Godavari District, Andhra Pradesh, 533222" [disabled]='five'></textarea>
                <button mat-icon-button matSuffix (click)='five=!five'>
                    <mat-icon>edit</mat-icon>
                    </button>
              </mat-form-field>
        </div>
        <br>
        <button mat-raised-button color="primary" class="mr-3" (click)="onCancel()">cancel</button>
        <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
          
        </form>
    </div>
</div>